@page "/genders/edit"
@using Microsoft.EntityFrameworkCore
@using FSD_Project_Bookstore_Group4.Domain
@inject IDbContextFactory<FSD_Project_Bookstore_Group4.Data.FSD_Project_Bookstore_Group4Context> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>Gender</h2>
<hr />
@if (Gender is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Gender" OnValidSubmit="UpdateGender" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="Gender.Id" value="@Gender.Id" />
                <div class="mb-3">
                    <label for="gendername" class="form-label">GenderName:</label>
                    <InputText id="gendername" @bind-Value="Gender.GenderName" class="form-control" />
                    <ValidationMessage For="() => Gender.GenderName" class="text-danger" />
                </div>
                <div class="mb-3" hidden>
                    <label for="datecreated" class="form-label">DateCreated: @Gender.DateCreated</label>
                    <input type="hidden" name="Gender.datecreated" value="@Gender.DateCreated" />
                </div>
                <div class="mb-3">
                    <label for="dateupdate" class="form-label">DateUpdate:</label>
                    <InputDate id="dateupdate" @bind-Value="Gender.DateUpdate" class="form-control" />
                    <ValidationMessage For="() => Gender.DateUpdate" class="text-danger" />
                </div>
                <div class="mb-3" hidden>
                    <label for="createdby" class="form-label">CreatedBy: @Gender.CreatedBy</label>
                    <input type="hidden" name="Gender.createdby" value="@Gender.CreatedBy" />
                </div>
                <div class="mb-3" hidden>
                    <label for="updatedby" class="form-label">UpdatedBy:</label>
                    <InputText id="updatedby" @bind-Value="Gender.UpdatedBy" class="form-control" />
                    <ValidationMessage For="() => Gender.UpdatedBy" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/genders">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int Id { get; set; }

    [SupplyParameterFromForm]
    private Gender? Gender { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        Gender ??= await context.Gender.FirstOrDefaultAsync(m => m.Id == Id);

        if (Gender is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateGender()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(Gender!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!GenderExists(Gender!.Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/genders");
    }

    private bool GenderExists(int id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.Gender.Any(e => e.Id == id);
    }
}
