@page "/payments/details"
@using Microsoft.EntityFrameworkCore
@using FSD_Project_Bookstore_Group4.Domain
@inject IDbContextFactory<FSD_Project_Bookstore_Group4.Data.FSD_Project_Bookstore_Group4Context> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>Payment</h2>
    <hr />
    @if (payment is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">PaymentMethod</dt>
            <dd class="col-sm-10">@payment.PaymentMethod</dd>
            <dt class="col-sm-2">PaymentDate</dt>
            <dd class="col-sm-10">@payment.PaymentDate</dd>
            <dt class="col-sm-2">PaymentAmountBefDiscount</dt>
            <dd class="col-sm-10">@payment.PaymentAmountBefDiscount</dd>
            <dt class="col-sm-2">PaymentAmountAftDiscount</dt>
            <dd class="col-sm-10">@payment.PaymentAmountAftDiscount</dd>
            <dt class="col-sm-2">SubscriptionId</dt>
            <dd class="col-sm-10">@payment.SubscriptionId</dd>
            <dt class="col-sm-2">CustomerId</dt>
            <dd class="col-sm-10">@payment.CustomerId</dd>
            <dt class="col-sm-2">OrderId</dt>
            <dd class="col-sm-10">@payment.OrderId</dd>
            <dt class="col-sm-2">TierId</dt>
            <dd class="col-sm-10">@payment.TierId</dd>
            <dt class="col-sm-2">DateCreated</dt>
            <dd class="col-sm-10">@payment.DateCreated</dd>
            <dt class="col-sm-2">DateUpdate</dt>
            <dd class="col-sm-10">@payment.DateUpdate</dd>
            <dt class="col-sm-2">CreatedBy</dt>
            <dd class="col-sm-10">@payment.CreatedBy</dd>
            <dt class="col-sm-2">UpdatedBy</dt>
            <dd class="col-sm-10">@payment.UpdatedBy</dd>
        </dl>
        <div>
            <a href="@($"/payments/edit?id={payment.Id}")">Edit</a> |
            <a href="@($"/payments")">Back to List</a>
        </div>
    }
</div>

@code {
    private Payment? payment;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        payment = await context.Payment.FirstOrDefaultAsync(m => m.Id == Id);

        if (payment is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
