@page "/SubscriptionInfos/details"
@using Microsoft.EntityFrameworkCore
@using FSD_Project_Bookstore_Group4.Domain
@inject IDbContextFactory<FSD_Project_Bookstore_Group4.Data.FSD_Project_Bookstore_Group4Context> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>SubscriptionInfo</h2>
    <hr />
    @if (SubscriptionInfo is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">DateStart</dt>
            <dd class="col-sm-10">@SubscriptionInfo.DateStart</dd>
            <dt class="col-sm-2">DateEnd</dt>
            <dd class="col-sm-10">@SubscriptionInfo.DateEnd</dd>
            <dt class="col-sm-2">CutomerId</dt>
            <dd class="col-sm-10">@SubscriptionInfo.CustomerId</dd>
            <dt class="col-sm-2">TierId</dt>
            <dd class="col-sm-10">@SubscriptionInfo.TierId</dd>
            <dt class="col-sm-2">DateCreated</dt>
            <dd class="col-sm-10">@SubscriptionInfo.DateCreated</dd>
            <dt class="col-sm-2">DateUpdate</dt>
            <dd class="col-sm-10">@SubscriptionInfo.DateUpdate</dd>
        </dl>
        <div>
            <a href="@($"/SubscriptionInfos/edit?id={SubscriptionInfo.Id}")">Edit</a> |
            <a href="@($"/SubscriptionInfos")">Back to List</a>
        </div>
    }
</div>

@code {
    private SubscriptionInfo? SubscriptionInfo;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        SubscriptionInfo = await context.SubscriptionInfo.FirstOrDefaultAsync(m => m.Id == Id);

        if (SubscriptionInfo is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
