@page "/books/edit"
@using Microsoft.EntityFrameworkCore
@using FSD_Project_Bookstore_Group4.Domain
@inject IDbContextFactory<FSD_Project_Bookstore_Group4.Data.FSD_Project_Bookstore_Group4Context> DbFactory
@inject NavigationManager NavigationManager
@rendermode InteractiveServer
<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>Book</h2>
<hr />
@if (Book is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Book" OnValidSubmit="UpdateBook" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="Book.Id" value="@Book.Id" />
                <div class="mb-3">
                    <label for="booktitle" class="form-label">BookTitle:</label>
                    <InputText id="booktitle" @bind-Value="Book.BookTitle" class="form-control" />
                    <ValidationMessage For="() => Book.BookTitle" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="bookdesc" class="form-label">BookDesc:</label>
                    <InputText id="bookdesc" @bind-Value="Book.BookDesc" class="form-control" />
                    <ValidationMessage For="() => Book.BookDesc" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="bookpublishdate" class="form-label">BookPublishDate:</label>
                    <InputDate id="bookpublishdate" @bind-Value="Book.BookPublishDate" class="form-control" />
                    <ValidationMessage For="() => Book.BookPublishDate" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="bookprice" class="form-label">BookPrice:</label>
                    <InputNumber id="bookprice" @bind-Value="Book.BookPrice" class="form-control" />
                    <ValidationMessage For="() => Book.BookPrice" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="publisherid" class="form-label">PublisherId:</label>
                    <InputNumber id="publisherid" @bind-Value="Book.PublisherId" class="form-control" />
                    <ValidationMessage For="() => Book.PublisherId" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="imglink" class="form-label">ImgLink:</label>
                    <InputText id="imglink" @bind-Value="Book.ImgLink" class="form-control" />
                    <ValidationMessage For="() => Book.ImgLink" class="text-danger" />
                </div>
                <div class="mb-3" hidden>
                    <label for="datecreated" class="form-label">DateCreated: @Book.DateCreated</label>
                    <input type="hidden" name="Book.datecreated" value="@Book.DateCreated" />
                </div>
                <div class="mb-3">
                    <label for="dateupdate" class="form-label">DateUpdate:</label>
                    <InputDate id="dateupdate" @bind-Value="Book.DateUpdate" class="form-control" />
                    <ValidationMessage For="() => Book.DateUpdate" class="text-danger" />
                </div>
                <div class="mb-3" hidden>
                    <label for="createdby" class="form-label">CreatedBy: @Book.CreatedBy</label>
                    <input type="hidden" name="Book.createdby" value="@Book.CreatedBy" />
                </div>
                <div class="mb-3" hidden>
                    <label for="updatedby" class="form-label">UpdatedBy:</label>
                    <InputText id="updatedby" @bind-Value="Book.UpdatedBy" class="form-control" />
                    <ValidationMessage For="() => Book.UpdatedBy" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>

            </EditForm>
            <button class="btn btn-primary" @onclick="@( async  () =>  NavigationManager.NavigateTo("/books/addauthors?id=" + Id))">Edit Authors</button><br />
            <button class="btn btn-primary" @onclick="@( async  () =>  NavigationManager.NavigateTo("/books/addgenres?id=" + Id))">Edit Genres</button><br />
        </div>
    </div>
}

<div>
    
    <a href="/books">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int Id { get; set; }

    [SupplyParameterFromForm]
    private Book? Book { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        Book ??= await context.Book.FirstOrDefaultAsync(m => m.Id == Id);

        if (Book is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateBook()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(Book!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!BookExists(Book!.Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/books");
    }

    private bool BookExists(int id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.Book.Any(e => e.Id == id);
    }
}
